.react-grid-Toolbar {
  //display: inline-block;
  float: right;
  //background-color: #ffffff;
  border-color: #e7eaec;
  border-image: none;
  border-style: none;
  border-width: 1px 1px 1px 1px;
  color: inherit;
  margin-bottom: 10px;
  padding: 8px 9px 4px;
  //padding: 14px 15px 7px;
  height: 20px;
  //height: 48px;
}
.react-grid-Toolbar .btn {
    display: inline-block;
    padding: 2px 2px;
    //padding: 6px 12px;
    margin-bottom: 0;
    width: 80px;
    font-size: 11px;
    //font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: top;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    color: white;
    background: #428bca;
    border: 1px solid #e7eaec;
}
.react-grid-Toolbar .btn:hover {
    color: inherit;
    border: 1px solid #d2d2d2;
}
.react-grid-Toolbar .select {
    display: inline-block;
    padding: 1px 1px;
    //padding: 6px 12px;
    margin-bottom: 0;
    font-size: 11px;
    //font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    color: white;
    background: #428bca;
    height: 22px;
    border: 1px solid #e7eaec;
    border-radius: 4px;
}
.react-grid-Toolbar .select > option {
    font-weight: 700;
    color: #428bca;
    background: white;
    padding: 0px 0px;
    margin: 1px 1px;
}
.react-grid-Toolbar .select > option:checked {
    color: #428bca;
    background: white;
}
// Styling of option hover of native select element does not work because it is controlled by OS.
.react-grid-Toolbar .select > option:hover {
    box-shadow: 0 0 10px 100px #1882A8 inset;
}
/*.react-grid-Toolbar .tools {
  display: inline-block;
  float: right;
  margin-top: 0;
  position: relative;
  padding: 0;
  margin-top: -10px;
}*/
.grouped-col-btn {
    background-color: #808080;
    padding: 0px 0px 0px 2px;
    height: 20px;
    color: white;
    font-size: 11px;
}
